/*
	Comment
*/

a { /* Comment */ color: /* Comment */ Red; }

.TestClass {
	color: Black;
	background-color: White;
	text-align: left;
}

.hidden {
	display: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} 

.left {
	display: block;
    margin-left: 0%;
    margin-right: auto;
    width: 50%;
}

.container{ width:100%; }
.banner {
	display: block;
    margin-left: 25%;
    margin-right: auto;
    width: 50%;}
	
.align {float: left;width:19%}
.align-left{ float: left;width:50%; }
.align-left-center { float: right;width:38%; }
.align-right{ float: right;width:56%; }
.align-right-center { float: right;width:36%; }
.align-button{ float: right;width:51%}
.align-create { float: right;width:53%}
.checkbox {float: right;width:72%}
